<!doctype html>
<html lang="en">
  <head>
    <title>John's github page</title>
    <!-- Styles -->
    <link href='{{ "/assets/css/main.css" | prepend: site.baseurl }}' rel="stylesheet">
  </head>
  <body>
  
  {% include header.html %}
  
  {{ content }}

  {% include footer.html %}
  
    <script defer src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script defer src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
    <script defer src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>
